<!-- Django looks for templates in order to display default login page or registration page -->
<!-- The default login page or registration page shoudl appear inside the folder structure teamplates/registration/login.html-->

{% extends 'learning_logs/base.html' %} <!--  Templates can inherit from other apps inside same Django project-->

{% load bootstrap4 %}

{% block page_header %}
  <h2> Login to your account. </h2>
{% endblock page_header %}
{% block content %}

  {% if form.errors %}  <!-- Display error msg when form attributes are set to errors -->
    <p>Your username password didn't match. Please try again </p>
  {% endif %}

  <form method="post" action= "{% url 'users:login' %}" class='form'>  <!-- Setting action arg as URL of login page-->
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    {% bootstrap_form form%}


    {% buttons %}
      <!--<button name="submit"> Login </button>-->
      <button name="submit" class='btn btn-primary'>Log in </button>
    {% endbuttons %}
    <!-- After successful login, redirect user to the homepage-->
    <input type = "hidden" name ="next"
      value = "{% url 'learning_logs:index' %}" />

{% endblock content %}