{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{topic}}</h3>
{% endblock page_header %}

{% block content %}
  <p> Entries: </p>
  <p>
    <a href = "{% url 'learning_logs:new_entry' topic.id %}"> Add Entry </a>
  </p>

  {% for entry in entries %}
    <div class="card">
      <div class="card-header">
        {{ entry.timestamp_added}}
      </div>
      <div class="card-body">
        <p class="card-text">{{entry.text}}</p>
        <a href ={% url 'learning_logs:edit_entry' entry.id %}>Edit Entry</a>
      </div>
    </div>
    
    {% empty %}
    <p> There are no Entries for this topic yet. </p>
    {% endfor %}

  {% endblock content %}

